* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* header section */
body .header {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
              url(img/hero-bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
  top: 0;
  left: 0;
}

@media only screen and (max-width: 600px) {
  body .header {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
                url(img/hero-bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 175vh;
    position: relative;
    top: 0;
    left: 0;
  }
}

#header nav {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6))
}

/* hero section */
#hero .hero-text {
  margin-top: 10%;
}
#hero .hero-text h1 {
  font-size: 60px;
}

@media only screen and (max-width: 600px) {
  #hero .hero-text h1 {
    font-size: 30px;
  }
}



/* call to action section */
.call_to_action {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
              url(img/cta-bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vh;
}

@media only screen and (max-width: 600px) {
  .call_to_action {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
                url(img/cta-bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 60vh;
  }
}



/* testimonials section */
#testimonials {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
              url(img/testimonials-bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 60vh;
}

@media only screen and (max-width: 600px) {
  #testimonials {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
                url(img/testimonials-bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;
  }
}
